<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Dejame tu mensaje y me contactare a la brevedad para brindarte el mejor servicio de Asesoramiento Personalizado, Consultoría Integral de desarrollo web, Marketing Digital, Ecommerce para PyMES">
    <meta name="keywords" content="ECOMMERCE, MARKETING DIGITAL, CONSULTOR DIGITAL, DESARROLLO WEB, TIENDA ONLINE">
    <title> Contacto | Nicolas Acevedo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <!---------------------------------------Comienza el BODY---------------------------------->
  <body class="grid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="./index.html"><img class="logo" src="../Imagenes/logo.jfif" alt="logo"></a>
          <div class="contenedor-h1"><h1>Consultor Digital</h1></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" aria-current="page" href="../index.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="./servicios.html">Servicios</a></li>
              <li class="nav-item"><a class="nav-link" href="./portfolio.html">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="./sobre-mi.html">Sobre mi</a></li>
              <li class="nav-item"><a class="nav-link  active" href="./contacto.html">Contacto</a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.change.org/">Ir al Blog</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!---------------------------------------Comienza el MAIN---------------------------------->
    <main id="main-contacto">
      <h2>Contacto</h2>
      <div class="container-form">
        <form> 
          <label class="label-form" for="nombre"> Nombre: </label>
          <input class="input-form" type="text" id="nombre" placeholder="ingrese su nombre aqui"> 
          <label class="label-form" for="apellido"> Apellido: </label>
          <input class="input-form" type="text" id="apellido" placeholder="ingrese su apellido aqui"> 
          <label class="label-form" for="email"> Mail: </label>
          <input class="input-form" type="text" id="email" placeholder="ingrese su correo aqui">
          <label class="label-form" for="Telefono"> Telefono: </label>
          <input class="input-form" type="number" id="Telefono" placeholder="ingrese su numero aqui">
          <label class="label-form" for="campo-de-texto"> Mensaje: </label> 
          <textarea class="input-form" id="campo-de-texto" cols="25" rows="5"></textarea>
          <input class="boton--contacto" type="submit" value="Enviar datos">
        </form>   
      </div>
    </main>
    <!---------------------------------------Comienza el FOOTER---------------------------------->
    <footer>
      <p class="parrafo-footer">Desarrollado por Nicolas Acevedo</p>
    </footer> 
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
  </body>
</html>